:root {
  /* gray scale */
  --gray-50: #f8f9fa;
  --gray-100: #f1f3f5;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #868e96;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;

  /* accent (in pink tone) */
  --pink-50: #fff0f6;
  --pink-100: #ffdeeb;
  --pink-200: #fcc2d7;
  --pink-300: #faa2c1;
  --pink-400: #f783ac;
  --pink-500: #f06595;
  --pink-600: #e64980;
  --pink-700: #d6336c;
  --pink-800: #c2255c;
  --pink-900: #a61e4d;
}
